body {
     margin: 0;
    font-family: Arial, sans-serif;
}
.top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    height: 60px;
}
.logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*TODO: The logo is slightly aligned to the left; fix it later*/
.logo img {
    justify-self: center;
    width: auto;
    object-fit: contain
}
.links {
    display: flex;
    gap: 20px;
}
.links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-left: auto;
}
.links a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: center;
    height: calc(100vh - 60px); /* Full height minus top bar height */
}

.left {
    width: 25%;
    background-color: #f4f4f4;
    text-align: center;
    resize: horizontal;
    overflow: auto; 
    min-width: 150px; 
}
.center {
    flex-grow: 1;
    text-align: center;
    background-color: #fff;
    overflow: auto;
}
.right {
    width: 25%;
    background-color: #f4f4f4;
    resize: horizontal;
    overflow: auto;
    min-width: 150px;
    direction: rtl;
}

.resizer {
    background-color: #444857;
    cursor: col-resize;
    height: 100%;
    width: 5px;
    flex-shrink: 0;
    flex-shrink: 0;
    position: relative;
    z-index: 10;
    user-select: none;
}
