<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Binoculars - Code Analysis</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>
        <div class = "top_bar">
            <div class="logo">
                <img src="../assets/logo_160px_without_blank_space.png">
            </div>
            <div class="links">
               <a href="TODO_about">About</a>
                <a href="TODO_github">Github</a>
            </div>
        </div>

        <div class="container">
            <div class="left">
                <p>Here be disassamble ASM</p>
            </div>
            <div class="center">
                <p>Here be decompiled C</p>
            </div>
            <div class="right">
                <p>Here be found vulns</p>
            </div>
        </div>
    </body>


</html>