<!doctype html>
<html>
    <head>
        <title>Binoculars</title>
        <link rel="stylesheet" href="C:\Users\39328\Desktop\Binoculars\flaskr\static\index.css">
        <link rel="icon" href="C:\Users\39328\Desktop\Binoculars\flaskr\assets\logo_240px.png" type="image/x-icon">
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <img src="C:\Users\39328\Desktop\Binoculars\flaskr\assets\logo_240px.png" alt="Logo" style="height: 50px;">
            </div>
            <div class="buttons">
                <button id="aboutButton">About</button>
                <button id="githubButton">GitHub</button>
            </div>
        </div>
        <div class="content">
            <div>
                <img src="C:\Users\39328\Desktop\Binoculars\flaskr\assets\logo_240px.png" alt="Logo" style="height: 250px;">
            </div>
            <h1>Binoculars</h1>
            <br>
            <p>Upload your binary file to discover the vulnerabilities!</p>
            <br>
            <button id="uploadButton">Upload</button>
            <input type="file" id="fileInput" style="display: none;">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <div class="footer" style="text-align: center;">
                <p id="about" style="font-size: 16px; color: #333;">
                    Binoculars is a powerful tool designed to analyze binary files and uncover potential vulnerabilities. 
                    With a user-friendly interface, it allows developers and security professionals to upload ELF files and receive detailed insights 
                    about potential risks and security flaws. Our mission is to enhance software security by providing a reliable and efficient way 
                    to identify issues in compiled binaries. Click "About" to learn more about the project and its features.
                </p>
            </div>
        </div>
        <script src="C:\Users\39328\Desktop\Binoculars\flaskr\scripts\index.js"></script>
    </body>
</html>